#maintextbox{
    margin-left: 300px;
    margin-top: 120px; 
    border: 3px solid #2484c6; 
    box-shadow: 15px 15px 0px #2484c6;
    width: 650px;
    background: #ffffff;
  }
  #maintextbox h1{
    text-align: center;
    font-family: "Gill Sans";
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 0.5;
    color: #2484c6;
    text-shadow: -2px 2px 5px #fce388;
  }
  #maintextbox p1{
    margin-left: 15px;
    font-family: "Gill Sans";
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1;
    color: #000000;
    text-shadow: -0.5px 0.5px 5px #c2c2c2
  }
  
  